sound_assets 
vanilla-js/music_assets
vanilla-js/audio/path.wav
p5/kaleidescope/bright.m4a
p5/kaleidescope/path.wav
p5/kaleidescope/p5.sound.js
p5/kaleidescope2/p5.sound.js
p5/kaleidescope/happy.wav
p5/kaleidescope2/Trouble-Makers.mp3
