sound_assets 
vanilla-js/music_assets
vanilla-js/audio/path.wav
p5/kaleidescope/bright.m4a
p5/kaleidescope/path.wav
p5/kaleidescope2/p5.sound.js
p5/kaleidescope/happy.wav
p5/kaleidescope2/Trouble-Makers.mp3
p5/custom-shapes/p5.polar.js
p5/custom-shapes/p5.sound.js
p5/custom-shapes/happy.wav
p5/kaleidescope2/happy.wav
p5/flower_dance/happy.wav
p5/flower_dance/seastar.mp3
p5/flower_dance/p5.sound.js
p5/kaleidescope/p5.sound.js
p5/kaleidescope2/happy.wav

p5/kaleidescope4/bright.m4a
p5/kaleidescope4/p5.sound.js
p5/kaleidescope4/happy.wav
p5/custom-shapes
p5/arc/bright.m4a
p5/arc/p5.sound.js
p5/arc/happy.wav
p5/arc/bigger.m4a
p5/wave
p5/light-shine-bright/bright.m4a
p5/light-shine-bright/happy.wav
p5/light-shine-bright/p5.sound.js
p5/functions